doctype html
html(lang="en")
    head
        include ../includes/header.pug
        title Water Bottle | Home
    body
        .jumbotron.text-center
            h1.display-4.main-title 401
            p.lead Your Unauthorized
            a.btn.btn-outline-light(href='/', role='button') Return Home
