doctype html
html(lang="en")
    head
        include ../includes/header.pug
        title Water Bottle | Dashboard
    body
        include ../includes/navbar.pug
        .jumbotron.text-center
            h1.display-4.main-title Dashboard
