doctype html
html(lang="en")
    head
        include ../includes/header.pug
        title Water Bottle | Dashboard
        link(rel='stylesheet', href='/css/sidebar.css')
    body
        include ../includes/sidebar.pug
        include ../includes/navbar.pug
        .container.text-center
            |  
            h1.display-4.main-title Dashboard
            hr
            p.lead Edit your server config here