doctype html
header
    include includes/header.pug
    title Water Bottle | Commands
body
    include includes/navbar.pug
    br
    center
        h1.title Commands
    br
    br
    ul.nav.justify-content-center
        ul.nav.nav-tabs
            li.nav-item
                a.nav-link(href='/commands') About
            li.nav-item
                a.nav-link(href='/commands/misc') Misc
            li.nav-item
                a.nav-link.active(href='/commands/fun') Fun
            li.nav-item
                a.nav-link(href='/commands/animals') Animals
            li.nav-item
                a.nav-link(href='/commands/media') Social media
            li.nav-item
                a.nav-link(href='/commands/moderation') Moderation            
            li.nav-item
                a.nav-link(href='/commands/economy') Economy
            li.nav-item
                a.nav-link(href='/commands/memey') Memey
    br
    br
    #commands2
        li heaven <@user> - create a image of a heaven
        li iamspeed <@user> - create a image of a iamspeed
        li  triggered <@user> - send a triggerd image with a users avatar 
        li quote- send a random quote
        li rps - play rock paper scissors
        li  grave - send's a grave image 
        li  wasted - make a GTA wasted image 
        li  80s <@user> - sends <@user>'s avatar in 1980 style 
        li ascii <text> - sends <text> in ascii style
        li gay <@user> - sends <@user>'s avatar in gay style 
        li gun <@user> - sends a image that <@user> is holding a gun 
        li invert <@user> - sends the avatar of <@user> in inverted colors 
        li  pixelate <@user> - pixelate <@user>'s avatar 
        li lyrics <name of a song> - send lyrics of a song! 
        li  binaryencode <text> - encode a text to binary 
        li  binarydecode <binary code> - decode binary to text 
        li  countdown <number> - count down from <number> to 0 
        li  reverse <string> - reverce the string from back to front 
        li  coinflip - return Head or Tail 
        li  covid <country> - send <country>'s covid19 statistics 
        li  emojify <text> - convert <text> to emoji 
        li  snake - play snake!!

