doctype html
html(lang="en")
    head
        include includes/header.pug
        title Water Bottle | Home
    body
        include includes/navbar.pug
        .jumbotron.text-center
            img.round(src="https://cdn.discordapp.com/avatars/894144261665206293/b92029d88cff06f6e95f3960e413156d.png")
            h1.display-4.main-title Water Bottle
                i.fas.fa-wine-bottle.p-2
            p.lead Imagine a bot - that make world a better place
            a.btn.btn-outline-light(href='/invite', role='button') Invite
