doctype html
header
    include includes/header.pug
    title Water Bottle | Commands
body
    include includes/navbar.pug
    br
    center
        h1.title Commands
    br
    br
    ul.nav.justify-content-center
        ul.nav.nav-tabs
            li.nav-item
                a.nav-link(href='/commands') About
            li.nav-item
                a.nav-link(href='/commands/misc') Misc
            li.nav-item
                a.nav-link(href='/commands/fun') Fun
            li.nav-item
                a.nav-link(href='/commands/animals') Animals
            li.nav-item
                a.nav-link.active(href='/commands/media') Social media
            li.nav-item
                a.nav-link(href='/commands/moderation') Moderation            
            li.nav-item
                a.nav-link(href='/commands/economy') Economy
            li.nav-item
                a.nav-link(href='/commands/memey') Memey
    br
    br
    #commands2 
        li google - Search on google! 
        li ytsearch - search on youtube!